<head>
    <title>Index Page</title>
</head>
{% extends "main.html" %}
{% block content %}
    <h1>Sample String</h1>
    <p>{{ str }}</p>
    <h1>Sample Integer</h1>
    <p>{{ int }}</p>
    <h1>Sample Set Variable</h1>
    <div>
        {% set newvar = "Hari Ini" %}
        <p>{{ newvar }}</p>
    </div>
    <h1>Sample For Loop</h1>
    <div>
        {% for data in arr %}
            <li>{{ data }}</li>
        {% endfor %}
    </div>
    <h1>Sample Else If</h1>
    <div>
        {% if ifsamp == "benar" %}
        <p>Harusnya ini {{ ifsamp }}</p>
        {%elif ifsamp == "salah" %}
        <p>Lah kalo ini {{ ifsamp }}</p>
        {%else%}
        <p>Nah ini baru {{ ifsamp }}</p>
        {% endif %}
    </div>
    <h1>Sample For Loop with Condition</h1>
    <div>
        {% for data in arr %}
            <li>
                {% if "minggu" in data %}
                kalo {{ newvar }} {{ data }} Libur
                {%elif "sabtu" in data %}
                kalo {{ newvar }} {{ data }} Setengah Hari
                {% else %}
                kalo {{ newvar }} {{ data }} Masuk
                {% endif %}
            </li>
        {% endfor %}
    </div>
</body>
{% endblock %}